<h1>Hello these are the videos</h1>

<ul>
    {{#videos}}
        <li>{{name}}</li>
    {{/videos}}
</ul>

<form action="/new-video" method="post">
    <input type="text" name="name" />
    <button type="submit">Submit</button>
</form>